@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Baloo+2:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Abyssinica SIL', serif;
    font-family: 'Baloo 2', cursive;
}

body{
    background-color: #f3cdce;
   
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    padding: 20px;
   
    
}

.logo{
color: #ea1951; 
margin-left:5vw ;  
}

.lupa{
    background-color: #ea1951;
    border: none;
    width: 2vw;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.input{
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.container-search{
    display: flex;
    height: 4vh;
    border-radius: 5px;
    padding: 0.2em;
}

.left-content{
    max-width: 45vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    justify-content: center;
    
}

.serve-with{
height: 12vh;
width: 30vw;
display: flex;
justify-content: flex-start;
}

.left-content::before{
    content: '';
    width: 6vw;
    height: 0.6vh;
    background-color: #ea1951;
    margin-bottom: 10px;
    
}

.menu{
    display: flex;
    min-width: 744 px;
    list-style: none;
    align-items: center;
    
    
}

.menu li{
  
    width: 10vw;
    min-width: 115px;
}

.menu li a{
    margin-left: 4vw;
    text-decoration: none;
    color: #ea1951;
}

.menu li a:hover{
    font-weight: bold;
    background-color: #ea1951;
    color: white;
    border-radius: 5px;
    padding: 0.2em;
    
}



.content,h5,.addProduct{
    margin-top: 20px;
}

.addProduct{
    display: flex;
}

.add-container{
    display: flex;
    width: 20vw;
    max-width: 150px;
    height: 4vh;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}


#buttonMais:hover,#buttonMenos:hover{
   color: #ea1951;
   font-weight: bold;
   font-size: 1.2em;
  
   
}

#buttonMais,#buttonMenos{
    background-color: white;
    height: 4vh;
    width: 5vw;
    border: none;
    cursor: pointer;
   
}
#qtde{
    background-color: white;
}

.tittle{
    font-size: 5vw;
}
.add-to-cart{
    background-color: #ea1951;
    border: none;
    margin-left: 4px;
    width: 15vw;
    max-width: 150px;
    border-radius: 3.5px;
    color: white;
    font-size: 10px;
    cursor: pointer;

}

main{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainImg{
width: 30vw;
height: 30vw;
z-index: 1;
border-radius: 50%;
   
}

.options-fruit{
    list-style: none;
    margin-right: 30px;
}

.options-fruit li{
    transform: translateX(10%);
    transition: 0.5s;
}

.options-fruit li:hover{
transform: translateY(-15px);
transition: 0.5s;
}

#cherry{
    position: relative;
}


